main.main 
  .main-top
    h1.title Avtograph TODO list
    .dropdown
      select.filter-todo
        option(value="all", selected="selected") Все
        option(value="completed") Выполненные
        option(value="uncompleted") В работе
  .newTask
    form.todoForm
      input(type="text" id="newTask" placeholder="Поле ввода")
      button#newTaskBtn(type="submit") +
  .taskList
