@font-face {
	font-display: swap;
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/NotoSans.woff2") format("woff2"), url("../fonts/NotoSans.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "NotoSans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/NotoSans-Bold.woff2"), url("../fonts/NotoSans-Bold.woff");
}

@font-face {
	font-display: swap;
	font-family: "Spartan";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/SpartanMB-Light.woff2"), url("../fonts/SpartanMB-Light.woff");
}

@font-face {
	font-display: swap;
	font-family: "Spartan";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/SpartanMB-Regular.woff2"), url("../fonts/SpartanMB-Regular.woff");
}

@font-face {
	font-display: swap;
	font-family: "Spartan";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/SpartanMB-Bold.woff2"), url("../fonts/SpartanMB-Bold.woff");
}
