:root {
	--white: #fff;
	--grey: #e5e5e5;
	--text_color: #171e29;
	--fz-title: 13px;
	--fw-Light: 300;
	--fw-Regular: 400;
	--fw-Bold: 700;
	--fontTodo: "NotoSans", sans-serif;
	--font: "Spartan", sans-serif;
}

$tablet: "768px";
