.button {
	display: inline-block;
	padding: 10px 24px;
	text-align: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	transition: box-shadow 0.3s ease-in-out;

	&::before {
		position: absolute;
		top: 0;
		height: 100%;
		content: "";
		width: 120%;
		left: -10%;
		transform: skew(30deg);
		transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
	}

	& span {
		color: #fff;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 1px;
		position: relative;
		transition: color 0.3s ease-in-out;
	}

	&:hover {
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0);
		&::before {
			transform: translate3d(100%, 0, 0);
		}

		& span {
		}
	}
}
